{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h1>Saison n° {{ season.number }} de {{ program.title }} </h1>
        <h2>Créer en {{ season.year }} aux {{ program.country }} c'est la {{ season.description }}</h2>
    </div>

    {% for episode in episodes %}
        <div>
          Episode {{ episode.number }} / {{ episode.title }} </a>
        </div>
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Page d'accueil
    </a>


{% endblock %}

